<div class="wrapper">
  <app-menu style="background: #7386D5;"></app-menu>

  <!-- Page Content  -->
  <div id="content" style="background-color: rgba(207, 207, 207, 0.699);">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid d-flex justify-content-end">
        <i class="bi bi-person-circle"></i>
      </div>
    </nav>
    <div class="card">
      <div class="card-header">
        Título do Card
      </div>
      <div class="card-body">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>