<nav id="sidebar" [ngClass]="{'active' : sideBar}">
  <div class="sidebar-header" (click)="sidebarCollapseClick()">
    <h3>Dog Style</h3>
    <strong>DS</strong>
  </div>

  <ul class="list-unstyled components">
    <ng-container *ngFor="let menu of menus">
      <ng-container *ngIf="!menu.submenus" [ngTemplateOutlet]="menuItemTemplate" [ngTemplateOutletContext]="{ item: menu }"></ng-container>
      <ng-container *ngIf="menu.submenus" [ngTemplateOutlet]="subMenuItemTemplate" [ngTemplateOutletContext]="{ item: menu }"></ng-container>
    </ng-container>
  </ul>
</nav>

<ng-template #menuItemTemplate let-item="item" let-parentItem="parentItem">
  <li>
    <a [routerLink]="'/'+item.pagina">{{item.descricao}}</a>
  </li>
</ng-template>

<ng-template #subMenuItemTemplate let-item="item" let-parentItem="parentItem">
  <li>
    <a data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" (click)="collapse.toggle()" [attr.aria-expanded]="!item.isCollapsed" aria-controls="collapsePages">
      {{item.descricao}}
    </a>
    <ul class="collapse list-unstyled" #collapse="ngbCollapse" [(ngbCollapse)]="item.isCollapsed">
      <ng-container *ngFor="let menu of item.submenus">
        <ng-container [ngTemplateOutlet]="menuItemTemplate" [ngTemplateOutletContext]="{ item: menu }"></ng-container>
      </ng-container>
    </ul>
  </li>
</ng-template>