<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar" [ngClass]="{'active' : sideBar}">
    <div class="sidebar-header">
      <h3>Dog Style</h3>
      <strong>DS</strong>
    </div>

    <ul class="list-unstyled components">
      <li class="active">
        <a href="/home">
          Home
        </a>
      </li>
      <li>
        <a href="/sobre">
          Sobre
        </a>
      </li>
      <li>
        <a style="cursor: pointer;" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsedPages" aria-controls="collapsePages">
          Páginas
        </a>
        <ul class="collapse list-unstyled" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsedPages">
          <li>
            <a href="/produtos">Produtos</a>
          </li>
          <li>
            <a href="/servicos">Serviços</a>
          </li>
          <li>
            <a href="/clientes">Clientes</a>
          </li>
          <li>
            <a href="/colaboradores">Colaboradores</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>

  <!-- Page Content  -->
  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn btn-info" (click)="sidebarCollapseClick()">
          <span>{{sideBar ? 'Abrir' : 'Fechar'}} Menu</span>
        </button>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>